environments:
  {{ .Environment.Name }}:
    values: []

---
releases:
  - name: its-ppr
    namespace: its-ppr
    chart: oci://ghcr.io/cloud-gouv/common-helm-charts/itsm-ng
    version: 0.0.0-feat-add-itsm-ng.gc30d648
    installed: true
    createNamespace: false
    values:
      - environments/{{ .Environment.Name }}/values.yaml.gotmpl
    secrets:
      - environments/{{ .Environment.Name }}/secrets.enc.yaml